body {
  background: url(images/paper-repeat-200.jpg);
}

/**
 *  Old fashoned forms
 * Should look like the old telegraph and shiz.
 */

.form-control {
background-color: rgba(255, 255, 255, 0.46);
border: none;
border-radius: 0;
border-bottom: 2px #B0B0B0 solid;
}